@charset "UTF-8";
.heading-text {
    color: #FF00D6;
    text-align: center;
    font-size: 5em;
    font-weight: 100;
}

#main-menu a:hover {
	text-decoration: blink;
}
.emoji {
    font-size: 10em;
    text-align: center;
}
body center video {
    width: 1280px;
    height: 720px;
}
.seek {
    color: #EBFF00;
    text-decoration: underline;
    font-style: italic;
}
.voyage {
    color: #00FF30;
    text-decoration: underline;
    font-style: italic;
}
.curious {
    color: #FF00D6;
    text-decoration: underline;
    font-style: italic;
}
.main-text {
    color: #17F3FF;
}
body center h2 {
    color: #17F3FF;
    font-size: 3em;
    font-weight: 100;
}
td form label {
    color: #17F3FF;
    padding-right: 25px;
}
body center h1 {
    color: #17F3FF;
    font-size: 4em;
    font-weight: 200;
}
.join {
    color: #FF00D6;
    font-family: "Comic Sans MS", "Comic Sans MS Bold";
    font-style: italic;
    font-weight: 600;
    font-size: 2em;
}
.seek-item {
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    color: #EBFF00;
}
.menu-tab {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.menu-tab-text {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    color: #EBFF00;
}
a:hover { text-decoration: blink; }

body footer p {
    text-align: center;
    font-weight: 600;
    font-size: medium;
}
#main-menu {
    text-align: center;
    font-style: oblique;
    font-variant: normal;
    font-weight: 800;
    font-size: large;
    border: 5px solid #FFFB00;
    width: 500px;
    margin-left: 30%;
    margin-right: 30%;
    right: 5px;
    bottom: 5px;
    left: 5px;
    top: 5px;
}
#footer-menu {
    text-align: center;
    font-style: oblique;
    font-variant: normal;
    font-weight: 800;
    font-size: large;
    border: 5px solid #FFFB00;
    width: 500px;
    margin-left: 30%;
    margin-right: 30%;
    right: 5px;
    bottom: 5px;
    left: 5px;
    top: 5px;
}
